In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from numpy.random import randn, randint, uniform, sample

## generating 1000 random number so we can use them in our plots

In [6]:
df = pd.DataFrame(randn(1000),index=pd.date_range('2019-06-07',periods=1000),columns=['value'])
ts = pd.Series(randn(1000),index=pd.date_range('2019-06-07',periods=1000))

In [8]:
df.head()

               value
2019-06-07  1.785614
2019-06-08 -1.159305
2019-06-09 -0.598930
2019-06-10 -1.774837
2019-06-11  0.466695