In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from numpy.random import randn, randint, uniform, sample

## generating 1000 random number so we can use them in our plots

In [9]:
df = pd.DataFrame(randn(1000),index=pd.date_range('2019-06-07',periods=1000),columns=['value'])
## here what i am doing is getting 1000 random numbers and converting them into a dataframe and the indexing them
## with dates and named the column name as value
ts = pd.Series(randn(1000),index=pd.date_range('2019-06-07',periods=1000))

In [10]:
df.head()

               value
2019-06-07  0.080213
2019-06-08 -0.746219
2019-06-09 -1.424051
2019-06-10  1.228038
2019-06-11  0.992687