In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})
df['States'] = "CA NV AZ".split()
df.set_index('States',inplace=True)

In [6]:
df

          A    B  C
States
CA      1.0  5.0  1
NV      2.0  NaN  2
AZ      NaN  NaN  3

## Dropping row or columns based on the nan values

In [9]:
df.dropna(axis=0)
## here i am giving axis = 0 hence it will drop the rows that have nan values

          A    B  C
States
CA      1.0  5.0  1

In [10]:
df.dropna(axis=1)
# ## here i am giving axis = 1 hence it will drop the columns that have nan values

        C
States
CA      1
NV      2
AZ      3