In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex1.csv")
dataset.head()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
dataset1 = pd.read_table("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/test.tsv")
dataset1.head()

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

## Trying to read TSV data using read_csv

In [4]:
#dataset2 = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/test.tsv")
# when i use the above line it reads the file as if it is a CSV hence we are not getting the data in good format
dataset2 = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/test.tsv",sep='\t')
#In the above line you can see that i have overidden the default delimeter saying sep = '\t'
dataset2

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

## I don't want my first row to be the header then use header = none

In [5]:
dataset3 = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex2.csv",header = None)
dataset3

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

## To give your own column names for the datatset

In [6]:
dataset4 = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex2.csv",names = ["one","two","three","four","five","six"])
dataset4

   one  two  three  four   five  six
0    1    2      3     4  hello  NaN
1    5    6      7     8  world  NaN
2    9   10     11    12    foo  NaN

## index_col just to make multilabel indexing

In [7]:
dataset5 = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/csv_mindex.csv")
dataset5

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [8]:
multilabelindex = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/csv_mindex.csv",
                             index_col=['key1','key2'])
multilabelindex
## as you can see the below and above output the below one looks more clear and it is also easy to read

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

## Skip some of the rows because it doesn't make any sense about the data and looks bad

In [9]:
NotskippedRows = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex4.csv")
NotskippedRows

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [10]:
skippedRows = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex4.csv",skiprows=[0,2,3])
skippedRows
# we can see the above and below data and there is a lot of difference between both of them.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## This is to find where the null values are located in the dataset

In [11]:
normalData = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex5.csv")
normalData

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [12]:
df = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex5.csv")
pd.isnull(df)
## so in the below output we can see where there are null values in the dataset there the value will be true and 
# where the values are not null there it is false.

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

## how to read data from excel and how to get data from a particular sheet in excel workbook

In [13]:
df1 = pd.read_excel("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/Book1.xlsx")
df1
# here i am reading the whole excel data and it will get me the data in the first sheet

   a  b  c  d
0  1  3  5  7
1  2  4  6  8

In [14]:
# this code helps me to get only the data that is present in the second sheet
df2 = pd.read_excel("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/Book1.xlsx",sheet_name='example_sheet')
df2

   asdas  as   da asd as.1 da.1
0  asdas   s    s   s    s    s
1      s  ss  NaN   s    s    s

## reading the data using the URL's

In [15]:
pip install lxml

Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (4.9.2)
Note: you may need to restart the kernel to use updated packages.

In [16]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)'
df_list = pd.read_html(url)
# so whenever pandas reads a html url from the web it will take all the tables present in the url and make them into
# dataframes and it will combine all the dataframes into a list.
df4 = df_list[0]
df4.head()

,Country / Area,UN continental region[4],UN statistical subregion[4],Population (1 July 2022),Population (1 July 2023),Change
0,China[a],Asia,Eastern Asia,1425887337,1425671352,−0.02%
1,India,Asia,Southern Asia,1417173173,1428627663,+0.81%
2,United States,Americas,Northern America,338289857,339996564,+0.50%
3,Indonesia,Asia,South-eastern Asia,275501339,277534123,+0.74%
4,Pakistan,Asia,Southern Asia,235824863,240485658,+1.98%

## This code gets the name of all the columns

In [17]:
df4.columns

Index(['Country / Area', 'UN continental region[4]',
       'UN statistical subregion[4]', 'Population (1 July 2022)',
       'Population (1 July 2023)', 'Change'],
      dtype='object')

## This code is used to read a single column

In [18]:
df4['Country / Area']

0                               China[a]
1                                  India
2                          United States
3                              Indonesia
4                               Pakistan
                     ...
232          Montserrat (United Kingdom)
233    Falkland Islands (United Kingdom)
234                                 Niue
235                Tokelau (New Zealand)
236                                World
Name: Country / Area, Length: 237, dtype: object

## This code is used to read multiple columns at a time

In [19]:
df4[['Country / Area','UN continental region[4]']]

                        Country / Area UN continental region[4]
0                             China[a]                     Asia
1                                India                     Asia
2                        United States                 Americas
3                            Indonesia                     Asia
4                             Pakistan                     Asia
..                                 ...                      ...
232        Montserrat (United Kingdom)                 Americas
233  Falkland Islands (United Kingdom)                 Americas
234                               Niue                  Oceania
235              Tokelau (New Zealand)                  Oceania
236                              World                      NaN

[237 rows x 2 columns]

## Getting the dataset from a github

In [20]:
titanic_dataset = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
titanic_dataset.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [21]:
titanic_dataset[['Name','Pclass']].head(10)

                                                Name  Pclass
0                            Braund, Mr. Owen Harris       3
1  Cumings, Mrs. John Bradley (Florence Briggs Th...       1
2                             Heikkinen, Miss. Laina       3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)       1
4                           Allen, Mr. William Henry       3
5                                   Moran, Mr. James       3
6                            McCarthy, Mr. Timothy J       1
7                     Palsson, Master. Gosta Leonard       3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)       3
9                Nasser, Mrs. Nicholas (Adele Achem)       2

In [22]:
titanic_dataset.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

## Exercise git dataset to a dataframe

In [23]:
dataframe_ex = pd.read_csv("https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv",sep=';')
dataframe_ex.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [24]:
## skip random rows
dataframe_ex1 = pd.read_csv("https://raw.githubusercontent.com/akhil12028/Bank-Marketing-data-set-analysis/master/bank-additional-full.csv",sep=';',skiprows=[1,2,4])
dataframe_ex1.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [25]:
## print first 5 data points
dataframe_ex.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [26]:
## print last 2 data points
dataframe_ex.tail(2)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [27]:
## give your own column name
## here i am trying to change the column name
dataframe_ex.rename(columns={'age':'age1'})

,age1,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [28]:
##select one columns and prints its data type
type(dataframe_ex['job'])

pandas.core.series.Series

In [29]:
## print dataframe datatypes
dataframe_ex.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [30]:
## check data if anything is null
dataframe_ex.isnull().sum()
## This code is giving me how null values are present in each columns.

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [31]:
df3 = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex6.csv")
df3.head()

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

## This is used to Limit the number of rows that can be printed

In [32]:
df3 = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex6.csv",nrows=5)
df3.head(20)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

## Chunk Size
### so when ever you are using a chunk size that means it will only read that particular mb datasize only lets consider an example:-
#### I have 4 rows of data and each row size is 30mb and i give chunk size as 100 then it will only read the first 4 rows completely and then it will read the 4th row partially and this one of the biggest problem using the chunk file.
#### And when we use chunk size it will store the data into a text and you have to iterate through it the file to get the data.

In [33]:
chunk = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex6.csv",chunksize=1000)
chunk

## Write operations
### These operations are used to write a csv file

In [34]:
df5 = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex5.csv")
df5

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [35]:
df5.to_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex5_out.csv")

## Store the out in output1.csv and they must be separated by @

In [36]:
df5.to_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/output1.csv",sep='@')

## copy to clipboard using the sys package

In [37]:
import sys
df6 = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex5.csv")
df6

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

## we can see in the above dataframe that there are values that are null now to we should replace them using something called as na_rep

In [38]:
df6.to_csv(sys.stdout,na_rep='Null')

,something,a,b,c,d,message
0,one,1,2,3.0,4,Null
1,two,5,6,Null,8,world
2,three,9,10,11.0,12,foo

### writing to a file without gettting the index and header values inside it

In [39]:
df6

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [40]:
df6.to_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/outputNoindex_headers.csv",index=False,
          header=False)
df_out = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/outputNoindex_headers.csv",header=None)
df_out

# In the below output we can see that there are no header iside the which is what we were trying to acheive

       0  1   2     3   4      5
0    one  1   2   3.0   4    NaN
1    two  5   6   NaN   8  world
2  three  9  10  11.0  12    foo

## now what we need is whenever i am trying to store my data then i do not want any indexes but i need only few columns from the dataframe then i can do something like below code and the output file will contain only those whose column name is mentioned

In [41]:
df6.to_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/outputNoindex_havecolumns.csv",index=False
          ,columns=['something','a','b','c'])

## Date generate

In [42]:
dates_data = pd.date_range('1/1/2000',periods=7)
dates_data

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

## Now we will try to convert the dates_data into a series

In [43]:
dates_series = pd.Series(np.arange(7),index=dates_data)
dates_series

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int64

## to write the dates_series data into csv file

In [44]:
dates_series.to_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/TimeSeries.csv",header=None)

# Working with delimited Formats

# Approach 1

In [45]:
import csv
file = open("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex7.csv")
reader = csv.reader(file)
reader

In [46]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

# Approach 2

In [47]:
with open("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex7.csv") as f:
    lines = list(csv.reader(f))
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [48]:
header, values = lines[0],lines[1:]
print(header)
print(values)

['a', 'b', 'c']
[['1', '2', '3'], ['1', '2', '3']]

In [49]:
data_dict = {h:v for h,v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

## example using zip

In [50]:
l1 = [1,2,3,4,5,6]
l2 = ['a','b','c','d','e','f']
a = zip(l1,l2)
list(a)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f')]

In [51]:
dict_ex = {h: v for h,v in zip(l1,l2)}
dict_ex

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}

## Json data (java script object notation)

In [52]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

# this is a string

## Here we are converting a string to a dict

In [53]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

## Here i am converting a dict to a string

In [54]:
asjson = json.dumps(result)
type(asjson)

str

In [55]:
result['siblings']

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
 {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]

## Here i am converting the json data into a Dataframe

In [56]:
df_json = pd.DataFrame(result['siblings'],columns=['name','age','pets'])
df_json

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

## Reading .json data direclty into a dataframe

In [57]:
df1_json = pd.read_json("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/example.json")
df1_json

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

# Xml and Html : Web scraping

In [58]:
tables = pd.read_html("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/fdic_failed_bank_list.html")
len(tables)

1

In [59]:
tables_data = tables[0]
tables_data.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

# Binary Data formats

In [60]:
frame = pd.read_csv("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/ex1.csv")
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# converting the dataframe into a pickle

In [61]:
frame.to_pickle("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/frame_pickle")

In [62]:
pickle_df = pd.read_pickle("/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/frame_pickle")
pickle_df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# Using HDF5 Format

In [65]:
frame = pd.DataFrame({'a':np.random.randn(100)})
frame
# This is going to generate column header as 'A' and that columns contain 100 random values.

           a
0  -1.045558
1  -0.785905
2   0.409829
3  -1.254217
4   0.111038
..       ...
95 -0.031132
96 -1.318355
97  2.026750
98 -1.938219
99 -0.537894

[100 rows x 1 columns]

In [67]:
store = pd.HDFStore('/Users/siddartha/Desktop/github/Data-Science/Data Analysis/examples/mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

ImportError: Missing optional dependency 'pytables'.  Use pip or conda to install pytables.

# Web API's

In [70]:
import requests
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
resp = requests.get(url)
resp

In [76]:
data = resp.json()
data[0]['user']['id']

5060061

In [80]:
issues = pd.DataFrame(data,columns = ['number','title','labels','state'])
issues

,number,title,labels,state
0,52550,ENH: Differing variable name for quantile vs r...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
1,52549,REF: avoid Period.freq,[],open
2,52548,PERF: Improve performance for arrow engine and...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
3,52547,BUG: __from_arrow__ not respecting explicit dtype,"[{'id': 3303158446, 'node_id': 'MDU6TGFiZWwzMz...",open
4,52546,PERF: read_csv should check if column is alrea...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
5,52545,PERF: to_datetime doesn't recognise Arrow date...,"[{'id': 211840, 'node_id': 'MDU6TGFiZWwyMTE4ND...",open
6,52544,MAINT: remove `from numpy.math cimport` usages,[],open
7,52542,REF: slice before constructing JoinUnit,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
8,52541,PERF: concat(axis=1) for objects with differen...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
9,52540,"BUG: Series.rename(scalar, copy=False) still c...",[],open
10,52538,BUG: inconsistent Series/DataFrame behavior in...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,52536,BUG: Either incorrect unit validation for 'T' ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
12,52534,BUG?: Period allows construction from Custom f...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
13,52533,BUG: ArrowDtype `__from_arrow__` ignores its d...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
14,52532,DEPR: concat with empty objects,[],open
15,52530,DOC: Fix some rendering problems in arrow and ...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
16,52529,DOC: Suggested `build_ext` command may fail on...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
17,52528,Make `infer_freq` accept `Series` of timezone-...,[],open
18,52527,DEPR: is_categorical_dtype,[],open
19,52524,BUG: Inconsistent dtype selection for row-wise...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,52523,Add new test for None values on string columns...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
21,52521,DEP: Deprecate Series.view(),"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
22,52517,REF: Introduce enum class InferredType,[],open
23,52513,DEV: Upgrade Python development version to 3.9...,"[{'id': 527603109, 'node_id': 'MDU6TGFiZWw1Mjc...",open
24,52511,DEP: Deprecate Series.ravel,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
25,52510,CoW: Investigate copy=False internally in Seri...,"[{'id': 2085877452, 'node_id': 'MDU6TGFiZWwyMD...",open
26,52509,Make pyarrow a required dependency,"[{'id': 219960758, 'node_id': 'MDU6TGFiZWwyMTk...",open
27,52508,ENH: Try both dayfirst and monthfirst in pd.to...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
28,52505,BUG: incorrect reading of CSV containing larg...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,52503,ENH: Add more dt property/method support for A...,"[{'id': 211840, 'node_id': 'MDU6TGFiZWwyMTE4ND...",open

## Flatten the json dataset

In [82]:
data[0]['labels'].nor

[{'id': 76812,
  'node_id': 'MDU6TGFiZWw3NjgxMg==',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
  'name': 'Enhancement',
  'color': '4E9A06',
  'default': False,
  'description': None},
 {'id': 1954720290,
  'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
  'name': 'Needs Triage',
  'color': '0052cc',
  'default': False,
  'description': 'Issue that has not been reviewed by a pandas team member'}]

In [84]:
flatten_data = pd.json_normalize(data)
flatten_data

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,assignee.following_url,assignee.gists_url,assignee.starred_url,assignee.subscriptions_url,assignee.organizations_url,assignee.repos_url,assignee.events_url,assignee.received_events_url,assignee.type,assignee.site_admin
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52550,1659850424,I_kwDOAA0YD85i7064,52550,ENH: Differing variable name for quantile vs r...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52549,1659673064,PR_kwDOAA0YD85N4SZC,52549,REF: avoid Period.freq,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52548,1659666962,PR_kwDOAA0YD85N4RYE,52548,PERF: Improve performance for arrow engine and...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52547,1659663740,PR_kwDOAA0YD85N4Q2e,52547,BUG: __from_arrow__ not respecting explicit dtype,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52546,1659662216,I_kwDOAA0YD85i7G-I,52546,PERF: read_csv should check if column is alrea...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52545,1659661312,I_kwDOAA0YD85i7GwA,52545,PERF: to_datetime doesn't recognise Arrow date...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52544,1659654439,PR_kwDOAA0YD85N4PUc,52544,MAINT: remove `from numpy.math cimport` usages,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52542,1659606022,PR_kwDOAA0YD85N4HNH,52542,REF: slice before constructing JoinUnit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52541,1659587306,PR_kwDOAA0YD85N4D9h,52541,PERF: concat(axis=1) for objects with differen...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52540,1659570554,PR_kwDOAA0YD85N4BLR,52540,"BUG: Series.rename(scalar, copy=False) still c...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52538,1659548269,I_kwDOAA0YD85i6rJt,52538,BUG: inconsistent Series/DataFrame behavior in...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52536,1659411467,I_kwDOAA0YD85i6JwL,52536,BUG: Either incorrect unit validation for 'T' ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52534,1659329758,I_kwDOAA0YD85i51ze,52534,BUG?: Period allows construction from Custom f...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52533,1659326632,I_kwDOAA0YD85i51Co,52533,BUG: ArrowDtype `__from_arrow__` ignores its d...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52532,1659299927,PR_kwDOAA0YD85N3O92,52532,DEPR: concat with empty objects,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52530,1659289170,PR_kwDOAA0YD85N3Mz8,52530,DOC: Fix some rendering problems in arrow and ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52529,1659271631,I_kwDOAA0YD85i5nnP,52529,DOC: Suggested `build_ext` command may fail on...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52528,1659253090,PR_kwDOAA0YD85N3FLP,52528,Make `infer_freq` accept `Series` of timezone-...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52527,1659160217,PR_kwDOAA0YD85N2xh_,52527,DEPR: is_categorical_dtype,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52524,1659092207,I_kwDOAA0YD85i47zv,52524,BUG: Inconsistent dtype selection for row-wise...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52523,1659091358,PR_kwDOAA0YD85N2jOP,52523,Add new test for None values on string columns...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52521,1659013888,I_kwDOAA0YD85i4osA,52521,DEP: Deprecate Series.view(),...,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52517,1658870906,PR_kwDOAA0YD85N12Us,52517,REF: Introduce enum class InferredType,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52513,1658723263,I_kwDOAA0YD85i3hu_,52513,DEV: Upgrade Python development version to 3.9...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52511,1658707331,I_kwDOAA0YD85i3d2D,52511,DEP: Deprecate Series.ravel,...,https://api.github.com/users/phofl/following{/...,https://api.github.com/users/phofl/gists{/gist...,https://api.github.com/users/phofl/starred{/ow...,https://api.github.com/users/phofl/subscriptions,https://api.github.com/users/phofl/orgs,https://api.github.com/users/phofl/repos,https://api.github.com/users/phofl/events{/pri...,https://api.github.com/users/phofl/received_ev...,User,False
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52510,1658706687,I_kwDOAA0YD85i3dr_,52510,CoW: Investigate copy=False internally in Seri...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52509,1658704453,I_kwDOAA0YD85i3dJF,52509,Make pyarrow a required dependency,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52508,1658625961,I_kwDOAA0YD85i3J-p,52508,ENH: Try both dayfirst and monthfirst in pd.to...,...,https://api.github.com/users/LeoGrin/following...,https://api.github.com/users/LeoGrin/gists{/gi...,https://api.github.com/users/LeoGrin/starred{/...,https://api.github.com/users/LeoGrin/subscript...,https://api.github.com/users/LeoGrin/orgs,https://api.github.com/users/LeoGrin/repos,https://api.github.com/users/LeoGrin/events{/p...,https://api.github.com/users/LeoGrin/received_...,User,False
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/52505,1658234288,I_kwDOAA0YD85i1qWw,52505,BUG: incorrect reading of CSV containing larg...,...,https://api.github.com/users/reddyrg1/followin...,https://api.github.com/users/reddyrg1/gists{/g...,https://api.github.com/users/reddyrg1/starred{...,https://api.github.com/users/reddyrg1/subscrip...,https://api.github.com/users/reddyrg1/orgs,https://api.github.com/users/reddyrg1/repos,https://api.github.com/users/reddyrg1/events{/...,https://api.github.com/users/reddyrg1/received...,User,False
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/52503,1658157734,PR_kwDOAA0YD85NznQB,52503,ENH: Add more dt property/method support for A...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Interacting with DataBases